<div class="container-fluid">
  <h2 class="about-h2">About</h2>
  <hr class="about-hr" />
  <div class="row">
    <div class="col-lg-6 img-container">
      <img
        src="imgs/Nidhal-Officiel.png"
        class="admin-img"
        alt="Nidhal Messaoudi"
      />
    </div>
    <div class="admin-info col-lg-6">
      <p>
        First of all, I'm Nidhal Messaoudi from Tunisia and I'm a self-taught
        web developer specializing mainly on using the MERN (MongoDB, Express,
        React, NodeJS) stack but also a computer science enthusiast helping
        founders adding value to society through technology. I started my
        journey on the age of 15 by getting to know programming foundations
        using the Python language then switching to web development where I
        found a very useful and powerful technology which is JavaScript and that
        made me love it and even more with its superset and secure version
        TypeScript!
      </p>
    </div>
  </div>
</div>
