<hr />
<div class="container-fluid">
  <h2 class="project-h2">Projects</h2>
  <hr class="h2-hr" />
  <div class="row row-projects">
    <div class="col-lg-4 col-md-6">
      <div class="project-div project-1">
        <a
          href="https://github.com/nidhalmessaoudi/ANA-Website"
          class="card-links"
        >
          <img
            class="card-img-top projects-img shadow rounded"
            src="imgs/ana.png"
            alt="ana"
          />
          <div class="card-body">
            <h4 class="projects-h4 card-title">Multimedia Company Website:</h4>
            <p class="card-text">
              A Website designed by the latest technologies like HTML5, CSS3 and
              Bootstrap4.
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="project-div project-2">
        <a
          href="https://github.com/nidhalmessaoudi/TodoList"
          class="card-links"
        >
          <img
            class="projects-img card-img-top shadow rounded"
            src="imgs/todolist.png"
            alt="todolist"
          />
          <div class="card-body">
            <h4 class="card-title projects-h4">Web App for Time Managment:</h4>
            <p class="card-text">
              A Powerful web application for time managment developed by NodeJS
              and MongoDB.
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="project-div project-1">
        <a
          href="https://github.com/nidhalmessaoudi/Simple_Blog"
          class="card-links"
        >
          <img
            class="projects-img card-img-top shadow rounded"
            src="imgs/blog.png"
            alt="blog"
          />
          <div class="card-body">
            <h4 class="projects-h4 card-title">Blog Website:</h4>
            <p class="card-text">
              A Blog Website developed by NodeJS and MongoDB.
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="project-div project-2">
        <a href="https://github.com/nidhalmessaoudi" class="card-links">
          <img
            class="projects-img card-img-top shadow rounded"
            src="imgs/newsletter.png"
            alt="newsletter"
          />
          <div class="card-body">
            <h4 class="projects-h4 card-title">Newsletter form:</h4>
            <p class="card-text">
              Designed by Bootstrap4 and Developed by NodeJS.
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="project-div project-1">
        <a href="https://github.com/nidhalmessaoudi" class="card-links">
          <img
            class="projects-img card-img-top shadow rounded"
            src="imgs/security.png"
            alt="security"
          />
          <div class="card-body">
            <h4 class="projects-h4 card-title">
              Very secure website for storing Data:
            </h4>
            <p class="card-text">
              A secure Website for Storing Secret Data support the advanced
              authentication methods and Google Oauth.
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="project-div project-2">
        <a href="https://nidhalmessaoudi.herokuapp.com/" class="card-links">
          <img
            class="projects-img card-img-top shadow rounded"
            src="imgs/portfolio.png"
            alt="game"
          />
          <div class="card-body">
            <h4 class="projects-h4 card-title">Personal Wesbite:</h4>
            <p class="card-text">
              A powerful personal Website with well designed UI and a good UX
              developed by NodeJS.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="more">
    <h3 class="projects-h3">And More!</h3>
    <a href="https://github.com/nidhalmessaoudi"
      ><button
        type="submit"
        class="info-button btn btn-outline-secondary btn-lg"
      >
        See My Github
      </button></a
    >
  </div>
</div>
<hr />
