<%- include("partials/header") %>
<div class="notfound">
  <img
    src="/imgs/404_not_found.svg"
    class="notfound-img"
    alt="404_not_found image"
  />
  <h3>This page isn't found!</h3>
  <h5 class="notfound-text">
    This link is invalid, Nidhal's Wesbite doesn't include this page. Click the
    button bellow to go to the HomePage.
  </h5>
  <a href="/"
    ><button type="button" class="btn btn-primary btn-lg notfound-button">
      Go to the HomePage
    </button></a
  >
</div>

<%- include("partials/footer") %>
