<%- include("partials/header") %>

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Failed to Send Message!</h4>
  <p>Your are probably missing entering your name, email or message!</p>
  <hr />
  <p class="mb-0">Click The button Bellow to try send the message again!</p>
  <a class="btn btn-danger btn-lg" href="/" role="button">Return Back</a>
</div>
