/* About Section */
.about-h2 {
  text-align: center;
  padding-bottom: 7px;
}
.about-hr {
  margin: auto;
  width: 60px;
  margin-bottom: 4rem;
}

.img-container {
  padding: 2rem;
}

.admin-img {
  max-width: 30%;
  display: flex;
  margin: auto;
  justify-content: center;
}

@media (max-width: 992px) {
  .admin-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 40px;
  }
  .admin-info {
    text-align: center;
  }
}
